{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block body %}
<div class="container">
    <h1>Мы были бы очень признательны, если бы вы пожертвовали нашей молодой команде незначительную сумму, для вас это копейки, для нас радость.
    </h1>
</div>
<div class="no">
    <textarea name="сумма" placeholder="Укажите сумму пожертвования"> </textarea>
</div>
<div class="container1">
   <style>
	a.nubex {
	color: black;
	user-select: none;
	text-decoration: none;
	outline: none;
	background-color: red;
	padding: 2em 2em;
	}
	a.nubex:active {
	background-color: white;
	}
	a.nubex:hover {
	background-color: pink;
	}
   </style>
 <body>
  <a href="#" class="nubex">Сделать пожертвование</a>
 </body>
</html>
</div>
{% endblock %}